/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%);
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title, 
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
  align-items: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color .3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.nav__logo img {
  width: 1.5rem;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

.nav__toggle:hover,
.nav__close:hover {
  color: var(--first-color);
}

/* Show menu */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(180, 12%, 8%, .8);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: color .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: var(--title-color-black);
  padding: .75rem 1.5rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: background-color .3s;
}

.nav__button:hover {
  background-color: var(--first-color-alt);
}

.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(180, 4%, 15%, .1);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  padding-bottom: 0;
}

.home__container {
  padding-top: 7rem;
  row-gap: 2.5rem;
}

.home__subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: .5rem 0;
}

.home__title span {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.home__description {
  margin-bottom: 2rem;
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(1rem);
}

.home__img {
  width: 250px;
  height: 360px;
  object-fit: cover;
  object-position: center;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: var(--title-color-black);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: background-color .3s, transform .3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--first-color-alt);
  transform: translateY(-.25rem);
}

.button__flex {
  width: 100%;
}

/*=============== LOGOS ===============*/
.logos {
  padding: 2rem 0;
}

.logos__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logos__img {
  width: 88px;
  mix-blend-mode: luminosity;
  opacity: .4;
  transition: opacity .3s;
}

.logos__img:hover {
  opacity: 1;
}

/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 229px;
  row-gap: 2.5rem;
  justify-content: center;
}

.program__card {
  display: grid;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 2rem 1.5rem;
  border: 2px solid transparent;
  transition: background-color .3s, border-color .3s;
}

.program__card:hover {
  background-color: var(--first-color);
  border-color: var(--first-color-light);
}

.program__shape {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background-color .3s;
}

.program__card:hover .program__shape {
  background-color: var(--first-color-light);
}

.program__img {
  width: 38px;
}

.program__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program__description {
  font-size: var(--small-font-size);
  letter-spacing: .5px;
  margin-bottom: 1rem;
}

.program__title,
.program__description {
  transition: color .3s;
}

.program__button {
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition: opacity .3s;
}

.program__card:hover .program__button {
  opacity: 1;
}

.program__button:hover {
  transform: translateX(.25rem);
}

/*=============== CHOOSE ===============*/
.choose {
  padding-bottom: 0;
}

.choose__overflow {
  position: relative;
}

.choose__container {
  row-gap: 3rem;
}

.choose__content .section__data {
  margin-bottom: 2rem;
}

.choose__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.choose__group {
  text-align: center;
}

.choose__number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: .25rem;
}

.choose__subtitle {
  font-size: var(--small-font-size);
}

.choose__images {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(1rem);
}

.choose__img {
  width: 260px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/*=============== PRICING ===============*/
.pricing__container {
  grid-template-columns: 280px;
  justify-content: center;
  row-gap: 2rem;
}

.pricing__card,
.pricing__shape,
.pricing__list {
  display: grid;
}

.pricing__card {
  row-gap: 2rem;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  text-align: center;
  transition: background-color .3s;
}

.pricing__img {
  width: 35px;
}

.pricing__shape {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1rem;
  transition: background-color .3s;
}

.pricing__card:hover .pricing__shape {
  background-color: var(--first-color);
}

.pricing__title {
  font-size: var(--h3-font-size);
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.pricing__number {
  font-size: var(--h1-font-size);
}

.pricing__list {
  row-gap: 1rem;
}

.pricing__item {
  display: flex;
  column-gap: .5rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.pricing__item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing__button {
  background-color: var(--title-color);
  color: var(--title-color-black);
  padding: 1.25rem;
}

.pricing__button:hover {
  background-color: var(--title-color);
}

.pricing__card-active {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.pricing__card-active .pricing__shape {
  background-color: var(--first-color-light);
}

.pricing__card-active .pricing__title,
.pricing__card-active .pricing__number {
  color: var(--title-color-black);
}

.pricing__card-active .pricing__button {
  background-color: var(--title-color-black);
  color: var(--first-color);
}

/*=============== CALCULATE ===============*/
.calculate {
  padding-bottom: 0;
}

.calculate__container {
  row-gap: 4rem;
}

.calculate__content .section__titles {
  margin-bottom: 2rem;
  text-align: center;
}

.calculate__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.calculate__form {
  display: grid;
  row-gap: 1rem;
}

.calculate__box {
  position: relative;
  border: 2px solid var(--first-color-light);
  border-radius: 1rem;
}

.calculate__input {
  width: 100%;
  background: transparent;
  padding: 1rem 1.25rem;
  padding-right: 4rem;
  border: none;
  outline: none;
  color: var(--text-color);
}

.calculate__input::-webkit-outer-spin-button,
.calculate__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculate__input[type=number] {
  -moz-appearance: textfield;
}

.calculate__label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.calculate__message {
  position: absolute;
  transform: translateY(1rem);
  font-size: var(--small-font-size);
}

.calculate__images {
  position: relative;
  justify-self: center;
}

.calculate__img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.calculate__message {
  text-align: center;
  margin-top: 1rem;
  font-weight: var(--font-bold);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--title-color-black);
  padding-block: 2.5rem 2rem;
}

.footer__container {
  row-gap: 2.5rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 1.5rem;
}

.footer__description {
  color: var(--text-color-light);
  margin-bottom: 1.5rem;
}

.footer__content {
  row-gap: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--text-color);
}

.footer__title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.footer__links,
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color-light);
  transition: color .3s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social-link {
  display: inline-flex;
  color: var(--first-color);
  font-size: 1.5rem;
  transition: transform .3s;
}

.footer__social-link:hover {
  transform: translateY(-.25rem);
}

.footer__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
}

.footer__input {
  padding: 1rem 1.25rem;
  background-color: var(--first-color-light);
  border: none;
  outline: none;
  border-radius: 4rem;
  color: var(--title-color-black);
}

.footer__input::placeholder {
  color: var(--title-color-black);
}

.footer__button {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.footer__message {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.footer__copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(79, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(79, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(79, 4%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--first-color);
  display: inline-flex;
  padding: .6rem;
  color: var(--title-color-black);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom .3s, transform .3s;
  border-radius: .4rem;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__titles {
    flex-direction: column;
    row-gap: .25rem;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .home__subtitle {
    font-size: 1.25rem;
  }

  .choose__number {
    font-size: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .choose__container {
    grid-template-columns: .7fr;
    justify-content: center;
  }

  .program__container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }

  .choose__data {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
  }

  .pricing__container {
    grid-template-columns: repeat(2, 280px);
    gap: 2rem;
    justify-content: center;
  }

  .calculate__form {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .calculate__form .button {
    grid-column: 1 / 3;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .home__container,
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .choose__content .section__data,
  .choose__description {
    text-align: initial;
  }

  .logos__container {
    grid-template-columns: repeat(4, max-content);
  }

  .program__container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }

  .choose__data {
    grid-template-columns: repeat(4, max-content);
    gap: 2.5rem;
  }

  .pricing__container {
    grid-template-columns: repeat(2, 280px);
    gap: 2rem;
  }

  .calculate__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 5rem;
  }

  .calculate__content .section__titles,
  .calculate__description {
    text-align: initial;
  }

  .calculate__form {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    position: static;
    padding: 0;
    border-radius: 0;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__subtitle {
    font-size: var(--h2-font-size);
  }

  .home__container {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 3rem;
  }

  .home__img {
    width: 350px;
    height: 550px;
  }

  .logos__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }

  .program__container {
    grid-template-columns: repeat(4, 225px);
    gap: 2.5rem;
  }

  .choose__container {
    grid-template-columns: 1fr .9fr;
    align-items: center;
    column-gap: 5rem;
  }

  .choose__img {
    width: 350px;
    height: 550px;
  }

  .pricing__container {
    grid-template-columns: repeat(3, 280px);
    gap: 2.5rem;
  }

  .calculate__container {
    grid-template-columns: 1fr .8fr;
    align-items: center;
  }

  .calculate__img {
    width: 350px;
    height: 400px;
  }

  .footer__content {
    grid-template-columns: repeat(4, max-content);
    gap: 2.5rem;
  }

  .footer__group {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 4.5rem;
  }

  .footer__social {
    order: 1;
  }

  .footer__form {
    order: 2;
    flex-direction: row;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
    height: 700px;
  }

  .choose__img {
    width: 500px;
    height: 700px;
  }

  .program__container {
    grid-template-columns: repeat(4, 245px);
    padding-block: 3rem 1rem;
  }

  .calculate__img {
    width: 500px;
    height: 600px;
  }
}
